html, body {
	margin: 0;
	padding: 0;
	font: 14px/24px Roboto, sans-serif;
}

a {
	text-decoration: none;
}

div#header {
	background-color: #6ab344;
	height: 60px;
}

div#header div#logo {
	color: #fff;
	font-size: 24px;
	padding: 6px 0;
}

div#header div#logo img {
	max-height: 48px;
}

div#header ul.nav > li > a {
	color: #fff;
	color: rgba(255, 255, 255, .7);
	font-size: 16px;
	font-weight: 500;
	line-height: 40px;
	padding: 10px 20px;
}

div#header ul.nav > li.active > a {
	color: #fff;
}

div#header ul.nav > li > a:focus, 
div#header ul.nav > li > a:hover {
	background-color: transparent;
	color: #fff;
}

div#header ul.nav i.fa-github {
	font-size: 40px;
}

div#hero {
	background-color: #455a64;
	color: #ccc;
	font-size: 16px;
	min-height: 550px;
	padding-top: 80px;
}

div#hero h1 {
	color: #fff;
	margin-bottom: 40px;
}

div#footer {
	margin: 20px 0;
	text-align: center;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#header {
		height: auto;
	}

	div#header div#logo {
		text-align: center;
	}

	div#header ul.nav {
		float: none !important;
		margin-top: 0;
		text-align: center;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}